@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

main {
  margin-left: 100px;
  padding: 20px;
}

.content {
  margin-top: 60px;
  margin-left: 180px;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 35px;
}


nav#sidebar {
  position: fixed;
  background: #FFF;
  width: 65px;
  height: 100%;
  -moz-box-shadow:    -3px 0 8px 0 #999;
  -webkit-box-shadow: -3px 0 8px 0 #999;
  box-shadow:         -3px 0 8px 0 #999;
}
ul.dots * {
  /* disable border-box from bootstrap */
  box-sizing: content-box;
  list-style-type: none;
  margin-right: 80px;  
}
ul.dots a {
  text-decoration: none;
  font-size:20px;
  color: #34495e;
}
ul.dots a:hover {
  text-decoration: none;
  font-size: 30px;
  color: #bdc3c7;
}
ul.dots li {
  display: box;
  position: relative;
  width: 50%;
  padding: 10px 0 ;  
}

ul.dots li span {
  display: block;
  border-radius: 30px; 
  background-color: rgb(174, 233, 57)	;  
  padding: 10px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  position: relative;
}

.navbar {
  width:100%;
  margin: auto;
  z-index: -1;
  -webkit-box-shadow: 0 5px 4px -6px #999;
  box-shadow: 0 5px 4px -6px #999;
  padding: 0px;
  background-color: white;   
}
.navbar-brand {
  padding-left: 150px;
}
#lock-cirle {
    border-radius: 0%;
    padding: 100%;
    text-align:center;
}

#lock-icon{
    font-size: 25px;
    margin: 27%;
}
html {
position: relative;
min-height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: #aaaaaa;
text-align: center;
padding: 14px 18px;
text-decoration: none;
font-size: 17px;
border-right: 20px solid transparent;
}

.topnav a:hover {
border-right: 5.5px solid rgb(0, 192, 226);
}

.topnav a.active {
border-bottom: 5.5px solid rgb(0, 192, 226);
}
.mod{
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
padding-left: 10px;
padding-right: 10px;
margin-right: 140px;
background-color: rgb(243, 243, 243);    /* Light gray */
}

.button {
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: transparent;
color: black;
border: 1px solid rgb(28, 201, 186);
border-radius: 4px;
padding: 6px 24px ;
margin-right: 770px;
color: rgb(28, 201, 186);
}

.button:hover {
background-color: rgb(28, 201, 186);
color: white;
}

.boxes {
transition: box-shadow .3s;
width: 325px; 
float:left; 
height:286px; 
background:white; 
margin:10px;
-webkit-box-shadow: 10px 5px 5px 5px #999;
-moz-box-shadow:    8px 0 0 10px #999;
box-shadow: 5px 5px 5px -7px #999;
border-radius: 6px; 
}
.boxes:hover {
box-shadow: 0 0 11px rgba(33,33,33,.2); 
background-color: rgb(241, 241, 241);
color: black;
}
.boxes img{
float: left;
}
img#round {
border-radius: 50%;
width:65px;
height:65px;
margin-top: 30px;
margin-left: 30px; 
border-width:1px;
border-style: solid;
border-color: #999;
}
p#inbox{
margin: 70px 20px 20px 40px;
color: gray;
}

.boxes h2 , h4 {
position: relative;
top: 37px;
left: 20px;
}

div#boxbutton{
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: transparent;
color: black;
border: 1px solid rgb(28, 201, 186);
border-radius: 4px;
padding: 6px 24px ;
margin-left: 40px;
margin-right: 165px;
margin-top: 25px;
color: rgb(28, 201, 186);
text-align: center;
}
div#boxbutton:hover{
box-shadow: 0 0 11px rgba(33,33,33,.2); 
background-color: rgb(28, 201, 186);
color: white;
}

div#credits{
padding-top: 100px;
padding-bottom: 60px;
border-radius: 20px;
padding-left: 10px;
padding-right: 10px;
margin-top:1300px;
margin-right: 140px;
margin-bottom: -10px;
background-color: transparent;
text-align: center;
}
li#cred{
padding: 10px;
}
p#creds{
padding-top: 20px;
font-size: 16px;
color: gray;
}